# Ignore files for push...
# Excluded files over than 100MB
# Large files in a GitHub free account has to be compress in 95MB files parts

# General exclusions
.idea/
.git/
.venv/
.venvPython310/
.venvPython311/
#*.qgz
#*.mxd
*.geojson
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.shp.*
*.xml
*.qix
*.qmd
*.2dm
*.gdr
*.tfw
*.tif
*.ovr
file/gdb/*.gdb
file/gdb/*.gpkg
file/dem/*.tif
file/gis/EAAB_CO/*.gdb
file/gis/EAAB_CO/*.gpkg
file/gis/EAAB_CO/dem/AlosPalsar*.tif*
file/gis/EAAB_CO/dem/AlosPalsarZE*.tif*
file/gis/Predial_CO/*.gdb
file/gis/Predial_CO/*.gpkg
file/gis/Predial_CO/GISMobile_Predial_CO*.zip

