# Ignore files for push...
# Excluded files over than 100MB
# Large files in a GitHub free account has to be compress in 95MB files parts

# General exclusions
.idea/
.git/
.venv/
.venvPython310/
.venvPython311/
*.qgz
*.mxd
*.shp
*.shx
*.dbf
*.prj
*.CPG
*.sbn
*.sbx
*.shp.*
*.xml
*.qix
*.qmd
*.2dm
*.gdr
*.tfw
*.tif
*.ovr
GISMobile_EAB_CO/GDB.gdb
GISMobile_EAB_CO/dem/AlosPalsar*.tif*
GISMobile_EAB_CO/dem/AlosPalsarZE*.tif*
GISMobile_Predial_CO/GDB.gdb
GISMobile_Predial_CO/GISMobile_Predial_CO.zip


file/gis/GISMobile_EAB_CO/GDB.gdb
file/gis/GISMobile_EAB_CO/dem/AlosPalsar*.tif*
file/gis/GISMobile_EAB_CO/dem/AlosPalsarZE*.tif*
file/gis/GISMobile_Predial_CO/GDB.gdb
file/gis/GISMobile_Predial_CO/GISMobile_Predial_CO.zip

